                        <tr class="hover:bg-gray-100" data-role="client-item" data-id={@client.id}>
                            <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
                                <div class="text-base font-semibold text-gray-900" data-role="client-name" data-id={@client.id}><%= @client.name %></div>
                            </td>
                            <td class="p-4 whitespace-nowrap text-base font-medium text-gray-900" data-role="client-cpf" data-id={@client.id}><%= @client.cpf %></td>
                            <td class="p-4 whitespace-nowrap text-base font-medium text-gray-900" data-role="client-status" data-id={@client.id}><%= @client.status %></td>
                        </tr>
